/*
<div style="border-style: double; font-size: 20pt;length: 300; width: 400; float: center; length: 200; background-color: white ">-->
<!--
body {
  background-color: #242f44;
  color: white;
  font-family: 'Oswald', sans-serif;
}
*/
.header {
  text-align: center;
  margin-top: 5px;
  font-size: 15pt;
}

body {
  background: linear-gradient(#DEBAC0, #9370DB , #8C93A8, #62466B);
  color: white;
  font-family: "Garamond";
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
  margin: 0;
  padding: 0;
} 


.menu {
  background-color:white;
  text-align: center;
  border-style: double;
  font-size: 10pt;
  /*length: 200;
  width: 300;
  float: center;*/
  position: relative;
  overflow: auto;
}
/*
navigation {
  font-size: 10pt;
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}
*/

.main-nav {
    display: flex;
}
  
/*.push {
    margin-left: auto;
}*/



