/*
<div style="border-style: double; font-size: 20pt;length: 300; width: 400; float: center; length: 200; background-color: white ">-->
<!--
body {
  background-color: #242f44;
  color: white;
  font-family: 'Oswald', sans-serif;
}
*/
body {
  background: linear-gradient(#DEBAC0, #9370DB , #8C93A8, #62466B);
  color: white;
  font-family: "Garamond";
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');

} 

.menu {
  /*background-color:white;*/
  border-style: double;
  font-size: 10pt;
  length: 300;
  width: 400; 
  float: center;
  length: 200;  
}

navigation {
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

header {
  text-align: center;
  margin-top: 5px;
}

